<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>BK-Engineering</h1>
        </div>
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-2">
            <a href=""><i class="bi bi-telephone-fill">+32 (0) 484 20 39 56</i></a>
        </div>
    </div>
</div>