<div class="banner">
    <h1>Ingénieurerie</h1>
</div>
<div class="expertise">
    <h1>Domaine d'expertise</h1>
    <div class="images_expertise">
        <div class="automatisation">
            <img src="assets/images/automationV2.jpg" alt="automation">
            <h4>Automation</h4>
        </div>
        <div class="electricite">
            <img src="assets/images/elecv2.jpg" alt="electricite">
            <h4>Electricité</h4>
        </div>
        <div class="digitalisation">
            <img src="assets/images/digitalisationv2.jpg" alt="digitalisation">
            <h4>Digitalisation</h4>
        </div>
        <div class="consultance">
            <img src="assets/images/consultancev2.jpg" alt="consultance">
            <h4>Consultance</h4>
        </div>
    </div>
</div>
